{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}


{% block main %}

    <div class="container-fluid home w-100 h-75">

        <section class="title my-4">
            <h1 class="text-center">Cars</h1>
        </section>

        <section class="confirm-message">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text-center">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible"  role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>

       <section class="mt-5">
           <div class="row">
               <div class="col-12">
                    <blockquote class="text-center fs-5 fst-italic ">Trouvez la voiture qui vous convient</blockquote>
               </div>
           </div>
       </section>

    </div>


{% endblock %}
