{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}


{% block main %}

    <div class="container">

        <section class="title my-4">
            <h1 class="text-center">Accueil</h1>
        </section>

       <section class="home">
           <div class="row">
               <div class="col">

               </div>
           </div>
       </section>

    </div>


{% endblock %}
